.savings-table,
.compound-table {
    margin: 2em auto;
    border-spacing: 0;
    border-style: solid;
}

thead {
    color: white;
    background: rgb(0,127,255);
    height: 40px;
}

td {
    padding: 0.5em 1em;
}