.savings__chart {
    margin: 30px auto;
    width: 60%;
    height: 80vh;
}

.budget__chart {
    margin: 100px auto;
    width: 50%;
    height: 60vh;
}

.compound__chart {
    height: 20rem;
    width: 40rem;
    margin: 5rem auto;
}