.savings__chart,
.compound__chart,
.budget__chart {
    margin: 30px auto;
    max-width: 80%;
    height: 80vh;
}

@media (min-width: 800px) {
    .savings__chart,
    .compound__chart,
    .budget__chart {
        margin: 30px auto;
        width: 60%;
        height: 80vh;
    }

    .budget__chart {
        max-width: 40%;
    }
}



