body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 150px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  text-align: center;
}
.container{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.card-container{
  align-self: center;
  width: 45vw;
}
nav{
  background-color:#333;
  position:fixed;
  top:0;
  width: 100vw;
  ul{
    list-style-type: none;
    text-align: center;
    margin: 0;
  }
  li{
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px ;
  }
  a{
    text-decoration: none;
    color: #f2f2f2;
    font-size: 16px;

    &:hover{
      color: rgba(0,127,255,1);
    }

  }
}
.home-hero{
  padding: 60px 0;
  background: rgb(0,127,255);
  background: linear-gradient(90deg, rgba(0,127,255,1) 0%, rgba(0,253,255,1) 100%);
  text-align: center;
}
.card{
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 8px #cacaca;
  width: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;
  margin: 25px 0;
  justify-content: center;
  img{
    max-width:50%;
    object-fit: cover;
    max-height: 250px;
  }
  a{
    width: fit-content;
    padding: 10px 20px;
    border: 1px solid black;
    text-decoration: none;
    color: #0f0f0f;
    font-size: 16px;

    &:focus,
      &:hover{
      background-color: #0f0f0f;
      color: whitesmoke;
      border: none;
    }

  }
}
.card-text{
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}
.budget-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
} 
.table-container{
  padding: 20px 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 8px #cacaca;

  button{
    width: 150px;
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: white;
    border: 1px solid black;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
    &:focus,
      &:hover{
      background-color: #0f0f0f;
      color: whitesmoke;
      border: 1px solid transparent;
    }
  }
  table td{
    padding: 8px;
  }
  input{
    padding: 10px 30px;
    font-size: 16px;
  }
}


